<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <a href="../index.html" class="logo">
            <img src="../img/logo.PNG" alt="logo" width="100px">
        </a>
        <nav>            
            
            <a href="../views/acerca de.html">Acerca De Nosotros</a>
            <a href="../views/contactanos.html">Contactanos</a>
        </nav>
    </header>

    <main>
        <center>
            <br><br><br>
            <h1>¿QUIENES SOMOS?</h1>
            <div class="about">
                <p>
                    Somos un grupo de estudiantes que estamos cursando la carrera de Ingenieria en Sistemas,
                    actualmente estamos llevando la clase de Implementacion De Software en la cual diseñamos
                    este programa, nuestro objetivo esque podamos implementar todo lo aprendido en clase en este
                    programa para que quede lo mas profecional y cercano a la realidad posible.
                    <br><br>
                    Queremos demostrar que aunque no estemos presencial y que todos seamos de diferentes lugares
                    se puede crear algo muy interesante y que lo unico que se necesita es la constancia y la 
                    responsabilidad. 
                </p>
            </div>
        </center>
    </main>
</body>
</html>